<div class="hero-unit" style=" margin-bottom: 2%;">
  <div class="ac">
    <p>
      <span style="font-size:22px; font-weight:400;">Client Support</span>
    </p>
  </div>
</div>

<div class="container main-cont">
  <div class="row">
    <div class="f-col col-md-12 col-lg-4">
      <div style="border-bottom:1px solid #ccc;">
        <h4>Customer Service</h4>
        <p>
          Mon-Fri: 8 a.m. - 7 p.m. PST
          <!-- <br>
          <br> -->
          <!-- <a href="tel:15032233315">
            <i class="fa fa-phone" aria-hidden="true"></i>
        </a>   -->
        </p>
        <p>
          <a href="tel:15032233315">
            <i class="fa fa-phone" aria-hidden="true"></i><span>&nbsp;</span><span>&nbsp;</span><span style="font-size:12px;">1-503-223-3315</span>
         </a>
        </p>
        <p style="line-height: 16px;">
          For international service in your area,
          <a href="#">click here to see all.</a>
        </p>
      </div>
      <br>
      <br>
      <span>
      <h4>
        Access to exclusive content requires Account Registration
      </h4>
      <ul>
        <li>
          You will need a 'Client ID' to register
          <ul>
            <li>
              Only customers can gain access to exclusive content with their assigned 'Client ID'
            </li>
          </ul>
        </li>
        <li>
          If you don't know or forgot your 'Client ID', you may request it via the 'Register' tab
        </li>
        <li>
          Gain access to:
          <ul>
            <li>
              Software downloads
            </li>
            <li>
              Exclusive training
            </li>
            <li>
              Software downloads
            </li>
            <li>
              Exclusive training
            </li>
          </ul>
        </li>
      </ul>

      <!--  -->
       <h4>
          Software Downloads      
      </h4>
      <ul>
        <li>
              Please register to gain access to our software  
        </li>        
            <li>
              Only customers can gain access to exclusive content with their assigned 'Client ID'
            </li>
        <li>
            New updates will be posted as soon as they are available 
        </li>
        <li>
          Any new documentation will also be included with updates         
        </li>
      </ul>
      <!--  -->
    </span>
    </div>
    <div class="col-md-12 col-12 col-lg-8">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" style="padding:0px;">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Register</a>
        </li>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel">

          <div class=" cont container ">
            <form>
              <div class="form-group row ">
                <label for="inputEmail3 " class="col-sm-2 col-form-label login">Login</label>
                <div class="col-sm-10">
                  <input type="email " class="form-control " id="inputEmail3 " placeholder="Your Email">
                </div>   
              </div>
              <div class="form-group row ">
                <label for="inputPassword3 " class="col-sm-2 col-form-label ">Password</label>
                <div class="col-sm-10">
                  <input type="password " class="form-control " id="inputPassword3 " placeholder="Password">
                </div>
              </div>

              <div class="form-group row " style="font-size: 13px; ">
                <div class="offset-sm-2 col-sm-10 ">
                  <button class="btn btn-success">Login</button><span>&nbsp;</span>
                  <span>
                    Need a login?
                                 <a href="# ">
            Register
          </a>             
                  </span>

                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="tab-pane" id="profile" role="tabpanel">

          <div class=" cont container ">
            <form>
              <div class="form-group row ">
                <label for="inputEmail3 " class="col-sm-2 col-form-label login" style="">Name<span class="req-input ">*</span></label>
                <div class="col-sm-10">
                  <input type="email " class="form-control " id="inputEmail3 " placeholder="Name ">
                </div>
              </div>
              <div class="form-group row ">
                <label for="inputPassword3 " class="col-sm-2 col-form-label ">Company<span class="req-input ">*</span></label>
                <div class="col-sm-10">
                  <input type="password " class="form-control " id="inputPassword3 " placeholder="Company Name ">
                </div>
              </div>
              <div class="form-group row ">
                <label for="inputPassword3 " class="col-sm-2 col-form-label client">Client<span>&nbsp;</span>ID<span class="req-input ">*</span></label>
                <div class="col-sm-10">
                  <input type="password " class="form-control " id="inputPassword3 " placeholder="Client ID ">
                </div>
              </div>
              <div class="form-group row " style="font-size: 13px; ">
                <div class="offset-sm-2 col-sm-10">
                  Don't have one?
                  <a href="# ">
            Request for Client ID
          </a>
                </div>
              </div>
            </form>
            <hr style="width: 110%;">

            <form>
              <div class="form-group row ">
                <label for="inputEmail3 " class="col-sm-2 col-form-label login">Email<span class="req-input ">*</span></label>
                <div class="col-sm-10">
                  <input type="email " class="form-control " id="inputEmail3 " placeholder="Your Email">
                </div>
              </div>
              <div class="form-group row ">
                <label for="inputPassword3 " class="col-sm-2 col-form-label ">Password<span class="req-input ">*</span></label>
                <div class="col-sm-10">
                  <input type="password " class="form-control " id="inputPassword3 " placeholder="Password">
                </div>
              </div>
              <div class="form-group row ">
                <label for="inputPassword3 " class="col-sm-2 col-form-label client">Confirm<span class="req-input ">*</span></label>
                <div class="col-sm-10">
                  <input type="password " class="form-control " id="inputPassword3 " placeholder="Confirm Password">
                </div>
              </div>
              <div class="form-group row " >
                <div class="offset-sm-2 col-sm-10">
                  <button class="btn btn-primary">Create Account</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="tab-pane" id="messages" role="tabpanel">...</div>
      </div>
    </div>


  </div>
</div>
