<div class="container">
  <div class="row">
    <p class="col-md-12 ac">
      <a class="btn btn-large btn-primary" href="mailto:info@teseda.com"><b style='color:white;margin-top:20px'>@ Write us</b></a>
      <br><br>
      <a data-icon="v" href="https://maps.google.com/maps?q=6915+SW+Macadam+Avenue,+Suite+245+Portland,+OR+97219" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> Get Directions</a>
    </p>
  </div>
  <hr>
  <div>

    <div class="row">

      <article class="member col-md-4">
        <h3 class="member-name">Corporate Headquarters</h3>
        <p class="member-bio" style="color:#000;">
          <strong><b>Teseda Corporation</b></strong><br>
          <a href="https://maps.google.com/maps?q=6915+SW+Macadam+Avenue,+Suite+245+Portland,+OR+97219" target="_blank">6915 SW Macadam Avenue, Suite 245<br>
        Portland, OR  97219</a>
        </p>
        <p style="color:#000;">
          Tel: <a href="tel:15032233315">1-503-223-3315</a><br> Fax: 1-503-223-3316<br> Email: <a href="mailto:info@teseda.com">info@teseda.com</a>
        </p>
      </article>

      <article class="member col-md-4">
        <h3 class="member-name">North America &amp; Global</h3>
        <p class="member-bio" style="color:#000;">
          <strong><b>Greg Van Ess</b></strong>
        </p>
        <p style="color:#000;">
          Mobile: <a href="tel:19253237422">1-925-323-7422</a><br> Fax: 1-503-223-3316<br> Email: <a href="mailto:greg_van_ess@teseda.com">greg_van_ess@teseda.com</a>
        </p>
      </article>

      <article class="member col-md-4">
        <h3 class="member-name">Teseda West Coast Applications</h3>
        <p class="member-bio" style="color:#000;">
          <strong><b>Ted Bernard</b></strong>
        </p>
        <p style="color:#000;">
          Mobile: <a href="tel:14088321401">1-408-832-1401</a><br> Email: <a href="mailto:ted_bernard@teseda.com">ted_bernard@teseda.com</a>
        </p>
      </article>

    </div>

    <div class="row">

      <article class="member col-md-4">
        <h3 class="member-name">Teseda West Coast Applications</h3>
        <p class="member-bio" style="color:#000;">
          <strong><b>Roger Nicholson</b></strong>
        </p>
        <p style="color:#000;">
          Mobile: <a href="tel:14088323025">1-408-832-3025</a><br> Email: <a href="mailto:roger_nicholson@teseda.com">roger_nicholson@teseda.com</a>
        </p>
      </article>

      <article class="member col-md-4">
        <h3 class="member-name">China</h3>
        <p class="member-bio" style="color:#000;">
          <strong><b>Patton Gu</b></strong><br>
          <a href="http://www.testrong.net/" target="_blank">Shanghai Testrong Technologies Co. Ltd.</a><br> Suite 302, Building
          5, No. 3000<br> Long Dong Boulevard, Pudoug New District<br> Shanghai, 201203 China
        </p>
        <p style="color:#000;">
          Tel: <a href="tel:+13788977401">+137 889 77 401</a><br> Email: <a href="mailto:peidong.gu@testrong.net">peidong.gu@testrong.net</a><br>          Web: <a href="http://www.testrong.net/" target="_blank">www.testrong.net</a>
        </p>
      </article>

      <article class="member col-md-4">
        <h3 class="member-name">Europe</h3>
        <p class="member-bio" style="color:#000;">
          <strong><b>Yvan Pfefer</b></strong><br>
          <a href="http://www.sector-technologies.com" target="_blank">Sector Technologies, SAS</a><br>
          <a href="https://maps.google.com/maps?q=24+rue+Lamartine,+Immeuble+le+Concorde,+38320+EYBENS,+France" target="_blank">24 rue Lamartine<br>
Immeuble le Concorde<br>
38320 EYBENS<br>
France</a>
        </p>
        <p style="color:#000;">
          Office Tel: <a href="tel:+33476634944">+33 476 63 49 44</a><br> Mobile: <a href="tel:+33617711361">+33 617 71 13 61</a><br>          Email: <a href="mailto:yvan.pfefer@sector-technologies.com" style="text-align:justify">yvan.pfefer@sector-technologies.com</a><br> Web:
          <a href="http://www.sector-technologies.com" target="_blank">www.sector-technologies.com</a>
        </p>
      </article>

    </div>

    <div class="row">

      <article class="member col-md-4">
        <h3 class="member-name">Japan</h3>

        <p class="member-bio" style="color:#000;">
          <strong><b>Rocky Kobayashi</b></strong><br>
          <a href="http://www.ate.co.jp/" target="_blank">ATE Service Corp.</a><br> 〒194-0004　東京都町田市鶴間1887番地2
          <br> 1887-2 Tsuruma<br> Machida-shi, Tokyo 194-0004<br>
        </p>
        <p style="color:#000;">
          Tel: <a href="tel:+0427958603">+042-795-8603 </a><br> Tel: <a href="tel:+0427958600">+042-795-8600</a><br> Mobile:
          <a href="tel:+09032380206">+090-3238-0206</a><br> Fax: +042-795-8615<br> Email: <a href="mailto:rocky@ate.co.jp">rocky@ate.co.jp</a><br>          Web: <a href="http://www.ate.co.jp" target="_blank">www.ate.co.jp</a>
        </p>

      </article>

      <article class="member col-md-4">
        <h3 class="member-name">South Korea</h3>
        <p class="member-bio" style="color:#000;">
          <strong><b>Y.H. Bang</b></strong><br>
          <a href="http://neosem.com/" target="_blank">NeoSem</a><br> Samsung Techno Park #701<br> 471 Woncheon-dong, Gyeonggi-do<br>          South Korea 443-824
        </p>
        <p style="color:#000;">
          Tel: <a href="tel:+82312136338">+82 31 213 6338</a><br> Email: <a href="mailto:yhbang@neosem.com">yhbang@neosem.com</a><br>          Web: <a href="http://neosem.com/" target="_blank">www.neosem.com</a>
        </p>
      </article>


      <article class="member col-md-4">
        <h3 class="member-name">Taiwan </h3>
        <p class="member-bio" style="color:#000;">
          <strong><b>Dick Shyu</b></strong><br>
          <a href="http://www.maojet.com.tw/" target="_blank">Maojet Technology Corporation</a><br> 6F-1 #32-1 Sung Chiang
          Road<br> Taipei, Taiwan ROC 10455
        </p>
        <p style="color:#000;">
          Tel: <a href="tel:+886225677643 ">+886 22-567-7643 </a><br> Email: <a href="mailto:dickshyu@maojet.com.tw">dickshyu@maojet.com</a><br>          Web: <a href="http://www.maojet.com.tw/" target="_blank">www.maojet.com.tw</a>
        </p>
      </article>

    </div>
  </div>

</div>
