<div class="container" style="display: flex;justify-content: center;">
  <div class="text-center" style="width: 940px;">
    <div class="container" style="position: relative;padding: 40px 0 0 0;background: transparent;">
      <h1 style="font-size:22px;color: #000;font-family: inherit;font-weight: normal;">
        We thank our partners for leadership and support
      </h1>
    </div>
    <div class="partners-list row">
      <div class="col-12">
        <ul class="partners">
          <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/ate.png" alt="ATE Service">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/cadence.png" alt="Cadence">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/dts.png" alt="DTS">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/maojet.png" alt="Maojet">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/mentor.png" alt="Mentor Graphics">
            </a>
          </li>
                  <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/nanolab.logo.white.png" alt="Nanolab">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/neosem.png" alt="Neosem">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/qualitel.png" alt="Qualitel">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/ridgetop.png" alt="Ridgetop Group">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/sector.png" alt="Sector Technologies">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/synopsys.png" alt="Synopsys">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/teradyne.png" alt="Teradyne">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="../assets/partners/testrong.png" alt="Testrong">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>