<div class="container" style="display: flex;justify-content: center;">
  <div style="width: 940px;">
  <div class="cover-div">
    <h1 class="text-center" style="font-size:22px; font-weight:400;letter-spacing: -1px;">Datasheets</h1>
  </div>

  <table class="table-responsive" id="example">
    <thead>
      <tr>
        <th class="sort"  style="background-color: rgba(141,192,219,.25);text-align: center;font-size: 13px;padding: 8px;
    line-height: 20px;color: #333333;">Name</th>
          <th style="text-align: center;font-size: 13px;padding: 8px;line-height: 20px;color: #333333;">Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="td-class">
          <div class="td-heading">Broken Chain Analyzer™</div>
          <div class="td-data">
            <a href="#">
              <img src="../assets/datasheets/Broken+Chain+Analyzer+Thumbnail.png" alt="" style="float: left;
    margin-right: 10px;
    width: 175px;"></a>
            Automatically pinpoints the defective scan cell in broken scan chains. Use Defect Isolator to quickly identify the physical
            location of defective scan cells pinpointed by Broken Chain Analyzer.
            <br>
            <a href="#">View Datasheet</a>
          </div>
        </td>
        <td class="td-class">
          <div style="text-align: -webkit-center;border-bottom: 1px solid #ccc;margin-bottom: 10px;font-size: 13px;">
            <i class="fa fa-download" aria-hidden="true" style="color: #0088cc;"></i><br>
            <a href="#">Datasheet</a>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td-class">
          <div class="td-heading">Curve Tracer™</div>
          <div class="td-data">
            <a href="#">
              <img src="../assets/datasheets/Curve+Tracer+Thumbnail.png" alt="" style="float: left;
    margin-right: 10px;
    width: 175px;"></a>
           Fast and easy curve tracing of semiconductor devices to diagnose Electrical Over-Stress failures. Easy to set up, easy to use, with automatic report generation for rapid communication.
            <br>
            <a href="#">View Datasheet</a>
          </div>
        </td>
        <td class="td-class">
          <div style="text-align: -webkit-center;border-bottom: 1px solid #ccc;margin-bottom: 10px;font-size: 13px;">
            <i class="fa fa-download" aria-hidden="true" style="color: #0088cc;"></i><br>
            <a href="#">Datasheet</a>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td-class">
          <div class="td-heading">Defect Isolator™</div>
          <div class="td-data">
            <a href="#">
              <img src="../assets/datasheets/Defect+Isolator+Thumbnail.png" alt="" style="float: left;
    margin-right: 10px;
    width: 175px;"></a>
           Unique tool used to traverse through the physical design to trace nets and vias down to the defect location. Utilizes industry standard LEF/DEF design files, scan-based test information, tester fail logs and diagnostic reports to determine and isolate the physical defect location.
            <br>
            <a href="#">View Datasheet</a>
          </div>
        </td>
        <td class="td-class">
          <div style="text-align: -webkit-center;border-bottom: 1px solid #ccc;margin-bottom: 10px;font-size: 13px;">
            <i class="fa fa-download" aria-hidden="true" style="color: #0088cc;"></i><br>
            <a href="#">Datasheet</a>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td-class">
          <div class="td-heading">DI Lab System™</div>
          <div class="td-data">
            <a href="#">
              <img src="../assets/datasheets/DI+Lab+System+Thumbnail.jpg" alt="" style="float: left;
    margin-right: 10px;
    width: 175px;"></a>
           Teseda's DI Lab System incorporates the complete suite of Teseda tools your engineers need to achieve rapid scan validation, silicon debug, defect isolation and failure analysis. Achieve root-cause physical defect isolation in hours versus months.
            <br>
            <a href="#">View Datasheet</a>
          </div>
        </td>
        <td class="td-class">
          <div style="text-align: -webkit-center;border-bottom: 1px solid #ccc;margin-bottom: 10px;font-size: 13px;">
            <i class="fa fa-download" aria-hidden="true" style="color: #0088cc;"></i><br>
            <a href="#">Datasheet</a>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td-class">
          <div class="td-heading">Diagnostic Test Hardware</div>
          <div class="td-data">
            <a href="#">
              <img src="../assets/datasheets/Diagnostic+Test+Hardware+Thumbnail.jpg" alt="" style="float: left;
    margin-right: 10px;
    width: 175px;"></a>
           Purpose-built for silicon debug, scan-based diagnostics and failure analysis. The foundational hardware for the DI Lab, Diagnostic Test, and Field Triage Systems.
            <br>
            <a href="#">View Datasheet</a>
          </div>
        </td>
        <td class="td-class">
          <div style="text-align: -webkit-center;border-bottom: 1px solid #ccc;margin-bottom: 10px;font-size: 13px;">
            <i class="fa fa-download" aria-hidden="true" style="color: #0088cc;"></i><br>
            <a href="#">Datasheet</a>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td-class">
          <div class="td-heading">Diagnostic Test System™</div>
          <div class="td-data">
            <a href="#">
              <img src="../assets/datasheets/Diagnostic+Test+System+1.jpg" alt="" style="float: left;
    margin-right: 10px;
    width: 175px;"></a>
           Small, compact and mobile scan-based system focused on silicon debug, test development, and failure analysis. Quickly perform the same tests run in production, but with access to the detailed failing data for precise device stimulation and analysis.
            <br>
            <a href="#">View Datasheet</a>
          </div>
        </td>
        <td class="td-class">
          <div style="text-align: -webkit-center;border-bottom: 1px solid #ccc;margin-bottom: 10px;font-size: 13px;">
            <i class="fa fa-download" aria-hidden="true" style="color: #0088cc;"></i><br>
            <a href="#">Datasheet</a>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td-class">
          <div class="td-heading">Field Triage System™</div>
          <div class="td-data">
            <a href="#">
              <img src="../assets/datasheets/Field+Triage+System+Thumbnail.jpg" alt="" style="float: left;
    margin-right: 10px;
    width: 175px;"></a>
           Specifically configured for use by field personnel, Teseda’s Field Triage System is a portable, lightweight diagnostic system for screening failed devices in remote field locations, enabling accurate, timely and detailed responses to customer quality concerns. Complete with automatic report generation for rapid communication.
            <br>
            <a href="#">View Datasheet</a>
          </div>
        </td>
        <td class="td-class">
          <div style="text-align: -webkit-center;border-bottom: 1px solid #ccc;margin-bottom: 10px;font-size: 13px;">
            <i class="fa fa-download" aria-hidden="true" style="color: #0088cc;"></i><br>
            <a href="#">Datasheet</a>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td-class">
          <div class="td-heading">Teseda Workbench™</div>
          <div class="td-data">
            <a href="#">
              <img src="../assets/datasheets/Teseda+WorkBench+Thumbnail.png" alt="" style="float: left;
    margin-right: 10px;
    width: 175px;"></a>
          Test control for the DI Lab System and Diagnostic Test Systems, to perform scan-based testing, capture test results in pass/fail, failure capture, and full capture modes of operation. Test results are displayed graphically.
            <br>
            <a href="#">View Datasheet</a>
          </div>
        </td>
        <td class="td-class">
          <div style="text-align: -webkit-center;border-bottom: 1px solid #ccc;margin-bottom: 10px;font-size: 13px;">
            <i class="fa fa-download" aria-hidden="true" style="color: #0088cc;"></i><br>
            <a href="#">Datasheet</a>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
  </div>
</div>