<div class="ac hero-unit" >
  <h1>
      The Leader in Defect Isolation
  </h1>
</div>
 <app-slidebar></app-slidebar> 
 <div class="container">
   <div class="row">
     <div class="col-sm-8 col-sm-offset-1">
       <div class="row">
         <div class="col-sm-10" id="div_intro">
           <p>Teseda Corporation is a global provider to the semiconductor industry offering unique systems and solutions for silicon bring up, test pattern debug, device stimulus for emissions and probing, curve tracing, broken scan chain analysis, performing root cause physical defect isolation, and for screening field returns…in the field.</p>
           <p>Our solutions are core tools for the leading semiconductor companies throughout the world, and are heavily used by Product Engineering, Failure Analysis Engineering, Local and Remote Customer Quality Engineering, and Design Engineering.</p>
           <p>Teseda is a company of engineers, providing your engineers with unique breakthrough device analysis solutions.</p>
         </div>
         <div class="col-sm-2 ac">
           <a data-nw-fancybox-media="" title="" data-ng-href="http://www.youtube.com/watch?v=3TU7DphcZzM" rel="media-gallery" href="http://www.youtube.com/watch?v=3TU7DphcZzM"><img src="../../assets/img/home/video-icon2.png"></a>
           <div class="col-sm-10 col-sm-offset-2">
             <a class="btn btn-large btn-primary" data-nw-fancybox-media="" title="" data-ng-href="http://www.youtube.com/watch?v=3TU7DphcZzM" rel="media-gallery" href="http://www.youtube.com/watch?v=3TU7DphcZzM"><b>Watch Overview Video</b></a>
           </div>
         </div>
       </div>
     </div>
      <div class="col-xs-12 col-md-11 col-md-offset-1">
        <hr>        
      </div>
   </div>
    <div class="row" id="pageContent">
      <div class="col-md-11 col-md-offset-1">
        <div class="row">
          <div class="col-sm-4">
            <h2>Proven Success Methodologies</h2>
            <ul>
              <li>Our customer's dramatic success stories provide the proof…please contact us for a reference list</li>
            </ul>
            <p><a class="readmore" routerLink="/product">Read more »</a></p>
          </div>
          <!--  -->
          <div class="col-sm-4">
            <h2>Breakthrough Technologies</h2>
            <ul>
              <li>Decrease root cause device analysis and discovery from weeks/months to days/hours</li>
            <li>Locate and isolate the failing scan cell within a failing scan chain</li>
            <li>Screen potential field returns…In-Field, and provide immediate customer feedback</li>
            <li>Isolate defects to their exact physical XY coordinates</li>
            </ul>
            <p><a class="readmore" routerLink="/product">Read more »</a></p>
          </div>
           <!--  -->
          <div class="col-sm-4">
            <h2>Unique Solutions</h2>
            <ul>
              <li>Purpose-built bench-top hardware with device analysis software</li>
              <li>Reduce needless RMAs by quickly screening failing devices in the field</li>
              <li>Drive devices to failing state while in-situ with EMMI, etc.</li>
              <li>Desktop diagnostic program debug and device analysis</li>
            </ul>
            <p><a class="readmore" routerLink="/datasheets">Read more »</a></p>
          </div>
        </div>
      </div>
    </div>
 </div>