<div class="container">
  <div class="row">
    <div class="col firstDiv">
      <h1 class="firstHead">Rent-to-Own Silicon Bring-up and Failure Analysis Service</h1>
      <ul class='firstList'>
        <li>On-Site Service for Silicon Bring-up or Defect Isolation </li>
        <li>Includes full DI Lab System and Applications Support – At Customer Site</li>
        <li>Rent or Rent-to-Own</li>
      </ul>
      <div class="forImg">
        <span class="imgSpan">
                  <img  style="width: 400px; height:auto;margin-bottom: 10px;margin-right: 6px;"  src="../../assets/img/rent1.JPG"/>
                  <img  style="width: 406px; height:249px;margin-bottom: 10px;margin-right: 6px;" src="../../assets/img/rent2.jpg"/>
                  <img  style="width: 400px; height:auto;margin-bottom: 10px;margin-right: 6px;"  src="../../assets/img/rent3.JPG"/>
                  <img  style="width: 407px; height:auto;margin-bottom: 10px;margin-right: 6px;"  src="../../assets/img/rent4.jpg"/>
                                                          
                </span>
        <!--<span >

                </span>
                <span class="imgSpan">
                
                 </span>
                <span >

              </span>-->
      </div>
    </div>
  </div>

  <!--<div class="row">
          <div class="col-sm-12">
            
          </div>
      </div>-->
  <div>
    <hr style="margin-top: 15px" class="hr">
    <div class="row">
      <div class="col">
        <h3>Service Description</h3>
        <ul>
          <li>DI Lab System installed at customer site (DI Lab System datasheet)</li>
          <li>User training on-site</li>
          <li>On-site applications engineering support</li>
          <li>Fixturing support – packaged part or wafer level</li>
          <li>Associated device files preparation</li>

        </ul>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col">
        <h3>Customer Value Experienced – 1st Silicon Bring-up</h3>
        <ul>
          <li>Rapid verification of silicon functionality</li>
          <li>Debug silicon in days versus months</li>
          <li>Lowest cost silicon characterization</li>
          <li>Implement, test and verify device software modifications to maximize performance</li>
          <li>Desktop or bench top work environment</li>
          <li>Remotely access tool set</li>
          <li>Our customers have proven that this service model significantly accelerates silicon bring-up and helps Fabless
            companies get to volume production faster</li>
        </ul>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>Customer Value Experienced – Failure Analysis</h3>
        <ul>
          <li>Isolate to root cause defect in hours/days versus weeks/months</li>
          <li>Run the same production tests to understand the logical behavior of failing devices that an ATE cannot provide
          </li>
          <li>Perform Dynamic Failure Analysis with easy interfacing to Emission Microscopes, Time Resolved Emission Systems
            and Mechanical Probe Systems</li>
          <li>Fixturing supplied by DTS http://www.dynamic-test.com</li>
          <li>Map failing scan cells against the physical design to localize and isolate defects</li>
          <li>Diagnose root cause in one single physical environment</li>
        </ul>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>Business Model Description</h3>
        <ul>
          <li>Month-to-month rental, 1 month minimum</li>
          <li>1-time rental or rent-to-own</li>
          <li>3 days of on-site user training at time of system delivery</li>
          <li>On-site applications support as required</li>
          <li>Fixturing supplied by DTS http://www.dynamic-test.com</li>
          <li>Access to device files under NDA at customer site to fulfill file preparation and setup</li>
          <li>Contact Sales@Teseda.com for pricing</li>
        </ul>
      </div>
    </div>


    <div class="row">
      <div class="col  ">
        <p class="pbtn">
          <a href="mailto:Sales@Teseda.com" target="_blank">
                          Contact Sales@Teseda.com to discuss in more detail
                  </a>
        </p>

        <hr>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div>
    <div class="hero-uint">
      <div id="test">
        <span><strong>Testimonials</strong></span>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <h3 class="member-name">Infineon</h3>
        <h4 class="member-positon">Adam Winterstrom, FA Engineer at Infineon</h4>
        <hr class="hr">
        <p>I would estimate that our success rate for finding the cause of scan failures has been around 80% using the Teseda
          tools. Without the tool our success rate would probably be less than 10% because we have no other way to run the
          scan tests under our photoemission or at our probe stations. If we had some other way of running scan under photoemission,
          like an ATE docking station at the photoemission tool, our success rate would probably be around 55% by just emission
          and probing alone, but it would also take longer.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 class="member-name">Soft Machines</h3>
        <h4 class="member-positon">Mohammad Abdallah, Co-Founder, President and Chief Technology Officer for Soft Machines</h4>
        <hr class="hr">
        <p>Soft Machine’s VISC architecture revives CPU performance-per-watt scaling by incorporating the new concept of virtual
          cores and virtual threads. The Teseda Diagnostic Test System helped us to quickly bring-up test patterns and validate
          functionality of the silicon which featured a break-through new architecture</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="member-name">ON Semiconductor</h3>
        <h4 class="member-positon">Pascal Vercruysse, Engineering Manager of Global Labs at ON Semiconductor</h4>
        <hr class="hr">
        <p>The powerful and compact Scan Test TESEDA system, with its diagnostic software, enables us to create a closed-loop
          environment with traditional failure analysis techniques and state-of-the-art emission analysis tools. The integration
          of scan chain information, failure data and layout information, into a single physical viewing environment, provides
          highly effective analysis power to the analyst. Teseda’s data analysis capability allows us to study subtle behavioral
          patterns and identify even those defects that are, in other circumstances, often overlooked and would remain undetected.</p>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <h3 class="member-name">Broadcom</h3>
        <h4 class="member-positon">Mo Aslam, Principal Test Engineer at Broadcom Corporation</h4>
        <hr class="hr">
        <p>Teseda’s Diagnostic Test System provides the reliability and proven performance we need to quickly test first silicon,
          conduct design debug and validate test patterns. The small form factor and low price point allows the system to
          be used anywhere, including a desk top environment, resulting in added flexibility for our global engineering team.</p>
      </div>
    </div>
  </div>
</div>